<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    input {
        height:75px;
    }
    .group-server{
        height:60px;
        width:100%;
    }
    .profile-img{
        width:40px;
        height:40px;
    }
</style>
</head>
<body class="bg-dark text-light">

<div id="container" class="row vh-100 container-fluid p-0 m-0 g-0">
    <div class="col-3 row h-100 ">
        <aside class="col-2 col  justify-content-center p-2 h-100 border-start-0 border border-2 border-top-0   border-secondary border-solid rounded-2 ">
            <div   class="bg-danger my-2 group-server border-secondary border-3 rounded-4">
                <img />
            </div>
            <div   class="group-server my-2 bg-danger border-secondary border-3 rounded-4">

            </div>
            <div  class="bg-danger my-2 group-server border-secondary border-3 rounded-4">

            </div>
        </aside>
        <div class="col-10 col  h-100 border-start-0 border border-2 border-top-0   border-secondary border-solid rounded-2 ">
            <button class="w-100 bg-dark text-light opacity-75 fs-5  btn-dark border-1 btn border-secondary shadow-none text-start p-2 mt-4">Friends</button>

           <div class="mt-5 p-2 border-top-2 border-end-0 border-start-0 border-bottom-0 border border-secondary">
            <div class="row mt-2 align-items-center border border-secondary border-2">
                <div class="rounded-circle profile-img col-2  border border-secondary border-2">
                <img>
                </div>
                    <div class="col-10">Aly</div>
            </div>
               <div class="row mt-2 align-items-center border border-secondary border-2">
                   <div class="rounded-circle profile-img col-2  border border-secondary border-2">
                       <img>
                   </div>
                   <div class="col-10">Aly</div>
               </div>
               <div class="row mt-2  align-items-center border border-secondary border-2">
                   <div class="rounded-circle profile-img col-2  border border-secondary border-2">
                       <img>
                   </div>
                   <div class="col-10">Aly</div>
               </div>
               <div class="row mt-2 align-items-center border border-secondary border-2">
                   <div class="rounded-circle profile-img col-2  border border-secondary border-2">
                       <img>
                   </div>
                   <div class="col-10">Aly</div>
               </div>
               <div class="row mt-2 align-items-center border border-secondary border-2">
                   <div class="rounded-circle profile-img col-2  border border-secondary border-2">
                       <img>
                   </div>
                   <div class="col-10">Aly</div>
               </div>
           </div>

        </div></div>

        <div class="d-flex flex-column justify-content-between p-2 col-7 border-start-0 h-100 border border-2 border-top-0   border-secondary border-solid rounded-2">

            <div id="messages" class="w-100 bg-dark list-unstyled"></div>
            <form  id="form" action="">
                <input class="w-100  border border-secondary rounded-2 border-3 bg-dark" style="color:white" id="input" autocomplete="off" />
            </form>
        </div>

        <div class="col-2 border-start-0 vh-100 border border-2 border-top-0   border-secondary border-solid rounded-2"></div>

    </div>


</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const messages = document.getElementById('messages');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
            let msgObj = {
                userName:"<%= name %>",
                msg: input.value
            }
            socket.emit('chat message', msgObj);
            input.value = '';
        }
    });

    socket.on('chat message', (msgObj) => {
        const item = document.createElement('li');
        item.textContent = msgObj.userName +" : "+ msgObj.msg;
        messages.appendChild(item);

    });
</script>
</html>