<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="justify-content-center d-flex align-items-center">
<div>
<h2>Register</h2>

<form action="/register" method="POST">

    <input name="name" placeholder="Name">
    <br><br>

    <input name="img" placeholder="Image URL">
    <br><br>

    <button>Register</button>

</form>
</div>
</div>
</body>
</html>